
{% for customer in customers %}
<tr>
    <td>{{ customer.pk }}</td>
    <td>{{ customer.full_name }}</td>
    <td>{{ customer.rank }}</td>
    <td>{{ customer.account_count}}</td>
    <td>{{ customer.loan_count }}</td>
    <td>{{ customer.phone }}</td>
</tr>
{% endfor %}