{% extends "base.html" %}

{% block title %}<title>{{ user.first_name }}'s Dashboard</title>{% endblock %}

{% block main %}

<section >
  <h1>Welcome {{ user.first_name }}!</h1>
  <p>Account rank: {{rank.name}} </p>
</section>
<section class="grid-2">
  <div>
    <h2>My accounts</h2>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th class="align-right">Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
        {% if account.is_loan == False %}
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.title }}</td>
          <td class="align-right">{{ account.balance }} DKK</td>
          <td class="float-right" ><a href="/account-details/{{account.id}}">More</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <h2>My loans</h2>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th class="float-right">Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for loan in accounts %}

        {% if loan.is_loan == True %}
        <tr>
          <td>{{loan.id }}</td>
          <td>{{loan.title}}</td>
          <td class="float-right">{{ loan.balance }} DKK</td>
        </tr>
        {% endif %}
        {% empty %}
        <p>You have no loans</p>
        <button><a href="{% url 'bank_app:make_loan_request' %}">Apply for a loan</a></button>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<br>
<hr>
<section class="grid-2">
  <div>
    <h2>Pending loan requests</h2>
    <table>
      <thead>
        <tr>
          <th>Loan Amount</th>
          <th>Currency</th>
        </tr>
      </thead>
      <tbody>
        {% for loan_request in loan_requests %}
        {% if loan_request.status == "not reviewed" %}

        <tr>
          <td>{{ loan_request.loan_amount }}</td>
          <td>DKK</td>
        </tr>
        {% endif %}
        {% empty %}
        <p>You have no pending loan requests</p>
        <button><a href="{% url 'bank_app:make_loan_request' %}">Apply for a loan</a></button>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <h2>Pending account requests </h2>
    <table>
      <thead>
        <tr>
          <th>Account name</th>
        </tr>
      </thead>
      <tbody>
        {% for account_request in account_requests %}
        <tr>
          <td>{{ account_request.id }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}